<% include ../partials/head.ejs %>
<link rel="stylesheet" href="bootstrap-datetimepicker.min.css">
<% include ../partials/header.ejs %>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Add Ballot</h6>
    </div>
    <div class="card-body">
            <%- messages('message', locals) %>
            <div class="row">
                <div class="col-md-8">
                  <form method="POST" action="/ballot/add_ballot">
                        <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Ballot Title</label>
                          <div class="col-sm-10">
                            <textarea type="text" class="form-control" name="title" placeholder="Ballot Title" required></textarea>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Ballot Valid Date Till</label>
                          <div class="col-sm-10">
                            <input type="datetime-local" class="form-control" name="date" required>
                          </div>
                        </div>

                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>

                  </form>
  
                </div>
              </div>
    </div>
  </div>

  <% include ../partials/footer.ejs %>

  
    <script>
        $(document).ready(function() {
            $('#pcat').on('change', function() {
               
                console.log($('#pcat').val());
                
                $.post("/admin/menu/get_childs",{
                        parent:$('#pcat').val() 
                    },
                    function(_data, status){
                        console.log(_data , "\nStatus: " + status);
                            target = $('#childs');
                            $(target).empty();
                        $('<option value="">-- Select Child Category --</option>').appendTo(target);
                        if (_data.childs.length > 0 ) {
                            if(typeof(_data.childs) != "undefined"){
                                        _data.childs.forEach(element => {                                            
                                            $('<option value="' + element._id + '">' + element.title + '</option>').appendTo(target);
                                        });
                                    }
                            }
                    });
            });
        });
    </script>
  
</body>

</html>
