<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Compiled Message</h6>
    </div>
    
    <div class="card-body">
            <%- messages('message', locals) %>
            <div class="row">
              <% msgs.forEach(function(msg) { %>      
                    <div class="col-md-4">
                        
                        <div class="card">
                            <div class="card-header">
                                <b><%- msg.title %></b>
                            </div>
                            <div class="card-body">
                              <p class="card-text"><%- msg.body %></p>
                              <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="/admin/messages/sent/<%- msg._id %>" class="btn btn-primary">View Sent</a>                     
                              </div>
                              
                            </div>
                          </div>

                        
    
                    </div>
                <% }); %>
            </div>
    </div>
  </div>

  <% include ../partials/footer.ejs %>
  
</body>

</html>
