<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
	  <div class="sidebar-brand-icon">
		<i class="fas fa-coffee"></i>
	  </div>
	  <div class="sidebar-brand-text mx-3">Social Wifi</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
	  <a class="nav-link" href="/dashboard">
		<i class="fas fa-fw fa-tachometer-alt"></i>
		<span>Dashboard</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
	  Menu
	</div>

	<!-- Nav Item - Pages Collapse Menu -->
	
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#visitors" aria-expanded="true" aria-controls="visitors">
		  <i class="fas fa-fw fa-users"></i>
		  <span>Visitors</span>
		</a>
		<div id="visitors" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
		  <div class="bg-white py-2 collapse-inner rounded">
			<a class="collapse-item" href="/cafe/visitors/add">Add Visitors</a>
			<a class="collapse-item" href="/cafe/visitors/all">All Visitors</a>
		  </div>
		</div>
	  </li>
	  <li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#promos" aria-expanded="true" aria-controls="promos">
		  <i class="fas fa-fw fa-feed"></i>
		  <span>Pormotions</span>
		</a>
		<div id="promos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
		  <div class="bg-white py-2 collapse-inner rounded">
			<a class="collapse-item" href="/cafe/promo/add">Add Promotions</a>
			<a class="collapse-item" href="/cafe/promo/all">All Promotions</a>
		  </div>
		</div>
	  </li>		
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">
	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
	  <button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
  </ul>