<% include partials/head.ejs %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<% include partials/jumbotron.ejs %>

<%- messages('message', locals) %>

<div class="container">
    <div class="row">
      <div class="col text-center">
        <a href="/" type="button" class="btn btn-secondary btn-lg">Back to Menu</a>
      </div>
    </div>
  </div>


<% include partials/footer.ejs %>