<% include partials/head.ejs %>
<% include partials/jumbotron.ejs %>

<div class="container">
    <div class="row">
      <div class="col text-center">
        <a href="/dashboard/all_ballots" type="button" class="btn btn-secondary btn-lg">Click to View Poles</a>
      </div>
    </div>
  </div>



<% include partials/footer.ejs %>