<% include ../partials/head.ejs %>
            
<% include ../partials/header.ejs %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Today's Ad View Limit Completed For This Package.</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-users fa-sm text-white-50"></i> Invite Mates</a>
          </div>

        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <% include ../partials/footer.ejs %>

</body>

</html>
