<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <style>
    .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
		
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progress {
  margin: 10%;
  width: 80%;
}
  </style>

</head>
<body>

<div class="container">
    <img width="20%" src="../../../comingsoon/images/logo.png">
  <h1>Ad Count :<%- ad_count %> </h1>
  <a class="btn btn-info mb-3" href="/user/ads/view">&larr; Back</a>
  <input type="hidden" value="<%- viewad_id %>" id="viewad_id">
  <% if(ad.ad_type == 'vimeo'){ %> 
  <div class='embed-container'>
    <iframe src='https://player.vimeo.com/video/<%- ad.ad_link %>?autoplay=1&loop=1&background=1' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  <% } %>
  <% if(ad.ad_type == 'youtube'){ %>
  
    <div class='embed-container'>
        <iframe src="https://www.youtube.com/embed/<%- ad.ad_link %>?autoplay=1" allow='autoplay'></iframe>

    </div>
    <% } %>
  

  <div class="progress mt-5">
      <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span id="current-progress"></span>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-5 mb-5 pb-5">
        <button id="nxt-btn" class="btn btn-info">Next Ad</button>
      </div>
</div>

</body>
<script>
$(function() {
  $("#nxt-btn").prop("disabled", true);
  var current_progress = 0;
  var interval = setInterval(function() {
      current_progress += 10;
      $("#dynamic")
      .css("width", current_progress + "%")
      .attr("aria-valuenow", current_progress)
      .text(current_progress + "% Complete");
      if (current_progress >= 100)
          clearInterval(interval);
  }, 2000);

  
  setTimeout("AddButton()", 21000);
  
});

function AddButton() {
  adViewed($('#viewad_id').val());
}


function adViewed(viewad_id) {

    var request = $.ajax({
        url: "/user/ad/ad_viewed",
        type: "POST",
        async: false,
        data: {
            viewad_id:viewad_id
              },
        dataType: 'json',
    });

    request.done(function(msg) {
        ref = JSON.stringify(msg['res']);
        transactions = JSON.parse(ref);
        if (transactions) {
            console.log(transactions);
            
            $("#nxt-btn").removeAttr('disabled'); 
          
        } else {
            console.log('No Ad !');
        }
    });

    request.fail(function(jqXHR, textStatus) {
        console.log("Request failed: " + textStatus);
    });
}

$(function(){
    $('#nxt-btn').click(function() {
          location.reload();
    });
});
</script>


</html>