<% include includes/header.ejs %>
<div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section" style="padding-top:170px; padding-bottom:40px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column two-third column_column">
                                        <div class="column_attr clearfix">
                                            <h1 style="font-weight: bold;">Earn On the Go.</h1>
                                            <h2>We engage community to earn online from home.</h2>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_divider ">
                                        <hr class="no_line" style="margin:0 auto 30px">
                                    </div>
                                    <div class="column mcb-column one-second column_button">
                                        <a style="margin-bottom: 30px !important;" class="button button_right button_size_2 button_theme button_js" href="/login"><span class="button_icon"><i class="icon-right-open-mini"></i></span><span class="button_label">Account</span></a>
                                    </div>
                                    <div class="column mcb-column one-second column_image ">
                                        <div class="image_frame image_item no_link scale-with-grid alignright no_border">
                                            <div class="image_wrapper"><br>
                                                <br>
                                                <!-- <img class="scale-with-grid" src="website/images/home_agency3_pic1.png"> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one valign-top move-up clearfix" style="margin-top:-55px" data-mobile="no-up">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="website/images/home_agency3_pic2.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one valign-top move-up clearfix" style="margin-top:-250px" data-mobile="no-up">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one-second column_placeholder">
                                        <div class="placeholder">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="column mcb-column two-fifth column_column">
                                        <div class="column_attr clearfix" style=" background-image:url('website/images/red-1.png'); background-repeat:no-repeat; background-position:left top; padding:120px 40px 40px;">
                                            <h4 style="font-weight: 400; font-style: italic;">Earn cash for taking free paid surveys while influencing the next generation of products, services and much more.</h4>
                                            <h6>Earnly</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section" style="padding-top:0px; padding-bottom:60px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h4 class="themecolor">Our services</h4>
                                            <h3>Get rewarded for your participation.</h3>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_divider ">
                                        <hr class="no_line" style="margin:0 auto 30px">
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 4% 0 0">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column  column-margin-10px">
                                        <div class="column_attr clearfix" style=" background-image:url('website/images/ads.png'); background-repeat:no-repeat; background-position:left top; padding:0 0 10px 80px;">
                                            <h4>View
                                                <br> Ads
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <p>     Complete your daily ad view tasks <br> 
                                                    and receive thousands of dollars each month.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 4% 0 0">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column  column-margin-10px">
                                        <div class="column_attr clearfix" style=" background-image:url('website/images/completed-task.png'); background-repeat:no-repeat; background-position:left top; padding:0 0 10px 80px;">
                                            <h4>Take
                                                <br>Surveys</h4>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <p>
                                                    Give your opinion on market research surveys <br>
                                                    and earn extra dollars everyday.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap divider valign-top clearfix">
                                <div class="mcb-wrap-inner"></div>
                            </div>
                            <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 4% 0 0">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column  column-margin-10px">
                                        <div class="column_attr clearfix" style=" background-image:url('website/images/network.png'); background-repeat:no-repeat; background-position:left top; padding:0 0 10px 80px;">
                                            <h4>Refer
                                                <br> Mates
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <p>
                                                    Share earnly with your friends and watch your earnings grow. 
                                                    <br>The more you promote, the more you earn!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 4% 0 0">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column  column-margin-10px">
                                        <div class="column_attr clearfix" style=" background-image:url('website/images/games.png'); background-repeat:no-repeat; background-position:left top; padding:0 0 10px 80px;">
                                            <h4>Play
                                                <br>Games</h4>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <p>
                                                    Playing games on earnly is an easy way to earn money online <br>
                                                     and get paid for your time. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_divider ">
                                        <hr class="no_line" style="margin:0 auto 30px">
                                    </div>
                                    <div class="column mcb-column one column_button">
                                        <a class="button button_right button_size_2 button_theme button_js" href="/services"><span class="button_icon"><i class="icon-right-open-mini"></i></span><span class="button_label">Our services</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section equal-height-wrap" style="padding-top:0px; padding-bottom:100px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:180px 11% 140px; background-image:url(website/images/logo-icon.png); background-repeat:no-repeat; background-position:center">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix" style=" background-color: #F04A4C;; background-repeat:no-repeat; background-position:left top; padding:120px 40px 40px;">
                                            <h4 style="font-weight: 400;">Trust our experience that we have gained since 1999.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:20px 0 0 6%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h4 class="themecolor">About us</h4>
                                            <h3>We achieve your earing goals effectively.</h3>
                                            <hr class="no_line" style="margin:0 auto 10px">
                                            <p>
                                                earnly.net is an online rewards website for those looking to earn extra money from all over the world.

                                            </p>
                                            <p>
                                                As a member of the Earnly, LLC family, we support market researchers and others who rely upon the power of consumers, oﬀering our members a variety of reward opportunities. Whether you take surveys, complete online tasks, or complete other oﬀers, there’s something for everyone to easily make money online.
                                            </p>
                                            <hr class="no_line" style="margin:0 auto 30px">
                                            <a class="button button_right button_size_2 button_theme button_js" href="/about"><span class="button_icon"><i class="icon-right-open-mini"></i></span><span class="button_label">About us</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section" style="padding-top:0px; padding-bottom:60px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h4 class="themecolor">With Earnly</h4>
                                            <h3>Make Easy Money Online</h3>
                                            <p>Earnly is an advertising network that allows members to earn money online at home. 
                                                Members make money by watching advertisements and introducing new members. 
                                                With the highest profit sharing form for its members, earnly aims to create the largest global advertising platform. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <% include includes/footer.ejs %>