<% include includes/header.ejs %>
<div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section" style="padding-top:170px; padding-bottom:50px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column two-third column_column">
                                        <div class="column_attr clearfix">
                                            <h4 class="themecolor">Services</h4>
                                            <h2>Get rewarded for your participation.</h2>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_divider ">
                                        <hr class="no_line" style="margin:0 auto 10px">
                                    </div>
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="website/images/home_agency3_pic1.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="section mcb-section" style="padding-top:0px; padding-bottom:50px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="website/images/ads.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h3>View Ads</h3>
                                        </div>
                                    </div>
                                    <div class="column mcb-column two-third column_column">
                                        <div class="column_attr clearfix" style=" padding:0 10% 0 0;">
                                            <p>
                                                Complete your daily ad view tasks and receive thousands of dollars each month.
                                            </p>
                                          
                                        </div>
                                    </div>
                                    <div class="column mcb-column one-third column_column">
                                        
                                    </div>
                                    <div class="column mcb-column one column_divider ">
                                        <hr class="no_line" style="margin:0 auto 20px">
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="website/images/completed-task.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h3>Take Survey</h3>
                                        </div>
                                    </div>
                                    <div class="column mcb-column two-third column_column">
                                        <div class="column_attr clearfix" style=" padding:0 10% 0 0;">
                                            <p>
                                                Give your opinion on market research surveys and earn extra dollars everyday.
                                            </p>
                                          
                                        </div>
                                    </div>
                                    <div class="column mcb-column one-third column_column">
                                        
                                    </div>
                                    <div class="column mcb-column one column_divider ">
                                        <hr class="no_line" style="margin:0 auto 20px">
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="website/images/network.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h3>Refer Mates</h3>
                                        </div>
                                    </div>
                                    <div class="column mcb-column two-third column_column">
                                        <div class="column_attr clearfix" style=" padding:0 10% 0 0;">
                                            <p>
                                                Share earnly with your friends and watch your earnings grow. The more you promote, the more you earn!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one-third column_column">
                                        
                                    </div>
                                    <div class="column mcb-column one column_divider ">
                                        <hr class="no_line" style="margin:0 auto 20px">
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="website/images/games.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h3>Play Games</h3>
                                        </div>
                                    </div>
                                    <div class="column mcb-column two-third column_column">
                                        <div class="column_attr clearfix" style=" padding:0 10% 0 0;">
                                            <p>
                                                Playing games on earnly is an easy way to earn money online and get paid for your time.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one-third column_column">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
<% include includes/footer.ejs %>