<% include includes/header.ejs %>
<div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section" style="padding-top:170px; padding-bottom:50px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column two-third column_column">
                                        <div class="column_attr clearfix">
                                            <h4 class="themecolor">Our team</h4>
                                            <h2>Friends, brothers, and cousins.</h2>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_divider ">
                                        <hr class="no_line" style="margin:0 auto 10px">
                                    </div>
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="website/images/home_agency3_pic1.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section" style="padding-top:0px; padding-bottom:50px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 1%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix" style=" padding:0 10%;">
                                            <h3>Earnly Team</h3>
                                            <hr class="no_line" style="margin:0 auto 30px">
                                            <h4>
                                                Each member of our team is a specialist in his or her field. Together, we make sure you’re investing where the best returns are, while building loyalty across every touchpoint.
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 1%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="website/images/team.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_divider ">
                                        <hr class="no_line" style="margin:0 auto 40px">
                                    </div>
                                    <div class="column mcb-column one column_button">
                                        <div class="button_align align_center">
                                            <a class="button button_right button_size_2 button_theme button_js" href="/contact"><span class="button_icon"><i class="icon-right-open-mini"></i></span><span class="button_label">Contact</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section" style="padding-top:0px; padding-bottom:60px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h4 class="themecolor">We go above and beyond to ensure your data is safe and secure with us. </h4>
                                            <h3>Live your Life.<br>
                                                Get Rewarded.</h3>
                                        </div>
                                    </div>
                                    <!-- <div class="column mcb-column one column_hover_box ">
                                        <div class="hover_box">
                                            <a href="https://vimeo.com/58010546" rel="prettyphoto">
                                                <div class="hover_box_wrapper">
                                                    <img class="visible_photo scale-with-grid" src="website/images/home_agency3_pic16.jpg">
                                                    <img class="hidden_photo scale-with-grid" src="website/images/home_agency3_pic17.jpg">
                                                </div>
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include includes/footer.ejs %>