<footer id="Footer" class="clearfix">
        <div class="widgets_wrapper" style="padding:70px 0 20px;">
            <div class="container">
                <div class="column two-third">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                <div class="image_wrapper">
                                    <img width="70%" class="scale-with-grid" src="../../website/images/agency3.png">
                                </div>
                            </div>
                            <hr class="no_line" style="margin: 0 auto 80px">
                            
                        </div>
                    </aside>
                </div>
                <div class="column one-third local-footer">
                    <aside class="widget_text widget widget_custom_html">
                        <h4>Localisation</h4>
                        <div class="textwidget custom-html-widget">
                            <p>
                                Earnly,
                                <br>Gonzagagasse 16, 1010 Wien
                                <br>Austria.
                            </p>
                            <p>
                                <a href="#">noreply@earnly.com</a>
                            </p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <div class="column one">
                    <a id="back_to_top" class="button button_js" href="#"><i class="fa fa-arrow-up"></i></a>
                    <div class="copyright">
                        &copy; 2019 Earnly 
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<!-- side menu -->
<div id="Side_slide" class="right dark" data-width="250">
    <div class="close-wrapper">
        <a href="#" class="close"><i class="fa fa-times"></i></a>
    </div>
    <div class="menu_wrapper"></div>
</div>
<div id="body_overlay"></div>

<!-- JS -->
<script src="website/js/jquery-2.1.4.min.js"></script>

<script src="website/js/mfn.menu.js"></script>
<script src="website/js/jquery.plugins.js"></script>
<script src="website/js/jquery.jplayer.min.js"></script>
<script src="website/js/animations/animations.js"></script>
<script src="website/js/translate3d.js"></script>
<script src="website/js/scripts.js"></script>


</body>

</html>